version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: pip-compile
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: bazel
    directory: /
    schedule:
      interval: daily
    groups:
      all-in-one:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
